{% extends 'seller_base.html' %}
{% load static %}
{% load url_helper %}
{% load humanize %}
{% block content %}
<section class="dashboard section">
	<!-- Container Start -->
	<div class="container">
		<!-- Row Start -->
		<div class="row">
            <!--Filter-->
            <div class="row">
                <div class="col-md-12 box-seller-order">
                    <div>
                        <div class="block text-center  seller-order">
                            <div class="col-md-3">
                                <input type="date" class="form-control" name="date_begin" id="date_begin" value="{{request.GET.date_begin}}" min=0 placeholder="Ngày bắt đầu">
                            </div>
                            <div class="col-md-3">
                                <input type="date" class="form-control" name="date_end" id="date_end" value="{{request.GET.date_end}}" min=0 placeholder="Ngày kết thúc">
                            </div>
                            <div class="col-md-3">
                                {% with selected_status=request.GET.status %}
                                <select id="select_status" name="status" onchange="status_filter()" class="full-size-select box-select-seller">
                                {% if selected_status %}
                                    <option value="">Tất cả</option>
                                {% else %}
                                    <option value="">Trạng thái</option>
                                {% endif %}
                                    
                                {%for i in all_status %}
                                    <option value="{{i.code}}" {% ifequal selected_status i.code %}selected{%endifequal%}>{{i.name}}</option>
                                {% endfor %}
                                </select> 
                                {% endwith %}
                            </div>
                            <div class="col-md-2 delete-filter">
                                <button onclick="date_filter()" class="btn btn-seller-order-check">Áp dụng</button>
                            </div>
                            <div class="col-md-2 delete-filter">
                                <button class="btn btn-seller-order-check" onclick="reset_filter()" >Làm mới</button>
                            </div>
                        </div><br>                            
                        </div>
                    </div>
                </div>
                
                
            </div><br>
            <!--Đơn hàng-->
			<div class="col-md-12">
				<div class="widget dashboard-container my-adslist adlistedit">
                    <div class="seller-order col-12">
                        <h3 class="widget-header col-7">DANH SÁCH ĐƠN HÀNG</h3>
                        <div class="seller-order col-5">
                        <!--sort order with date-->
                            <select id="sort_date" name="sort" onchange="sort_date()" class="heightsort full-size-select box-select-seller col-6">
                                <option value="desc"  {% if request.GET.sort == 'desc' %}selected{% endif %}>Giảm dần theo ngày</option>
                                <option value="asc" {% if request.GET.sort == 'asc' %}selected{% endif %}>Tăng dần theo ngày</option>
                            </select>
                            &nbsp; &nbsp;&nbsp;
                            <!--search order with id-->
                            <input id="search_order" class="search-seller col-6" type="text" name="search_order" placeholder="Tìm theo mã" 
                                value="{{request.GET.search_order}}" onkeypress="search_order(event)">
                        </div>
                    </div>
                    <table class="table product-dashboard-table col-12">
						<thead>
							<tr>
                                <th scope="col">Mã đơn hàng</th>
                                <th scope="col">Ngày mua</th>
                                <th scope="col">Sản phẩm</th>
                                <th scope="col">Tổng tiền</th>
                                <th scope="col">Trạng thái</th>
							</tr>
						</thead>
						<tbody>
                            {% for item in pager %}
							<tr>
                                <!--Mã đơn hàng-->
								<td class="product-thumb">
									<form method="POST">
										{% csrf_token %}
										<input name="id_order" type="text" value="{{item.id}}" hidden>
										<input name="function" type="text" value="order_detail" hidden>
										<button class="btn-submit-code-order" type="submit"><strong>{{item.fake_id}}</strong></button>
									</form>
                                </td>
                                <!--Ngày mua-->
								<td>
									<p class="title price-order">{{item.created_date|date:"d/m/Y G:i"}}</p>
								</td>
                                <!--Sản phẩm-->
								<td class=" product-collum-order ">
                                    <p class="price-order"><strong>{{item.name}}</strong></p>
                                </td>
                                <!--Giá tiền-->
								<td >
									<p class="price-order">{{item.price|floatformat:0|intcomma}} VNĐ</p>
								</td>
                                <!--Trạng thái-->
                                <td class="status-order">
                                    <form method="post">
										{% csrf_token %}
                                        <!--Nếu trạng thái là hủy hoặc giao thành công thì 0 cho đổi nữa-->
                                        {% ifequal item.status_code "3" %}
                                                <p>{{item.status}}</p>
                                        {% else %}
                                        {% ifequal item.status_code "4" %}
                                            <p>{{item.status}}</p>
                                        {% else %}
                                        <!--3 trường hợp còn lại đều đc select-->
                                            <input name="id_order" value="{{item.id}}" hidden/>
                                            <input type="text" name="order_note" id="order_note" value="" hidden/>
                                            <select id="{{item.id}}" name="change_status_{{item.id}}" onchange="change_status(this, {{item.id}}, {{item.status_code}})">
                                            {% ifequal item.status_code "1" %}
                                        <!--Nếu là đã tiếp nhận thì đc chọn hết-->
                                                {% for i in all_status %}
                                                    <option value="{{i.code}}"
                                                        {% ifequal i.code item.status_code %} selected="selected" {% endifequal %} 
                                                    >{{i.name}}</option>
                                                {% endfor %}
                                            {% else %}
                                        <!--Nếu trạng thái là dời lại hay đang giao hàng thì 0 đc quay về tiếp nhận-->
                                                {% for i in all_status %}
                                                    {% if not i.code == "1" %}
                                                    <option value="{{i.code}}"
                                                        {% ifequal i.code item.status_code %} selected="selected" {% endifequal %} 
                                                    >{{i.name}}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endifequal %}
                                            </select>
                                            <button id="submit_status_{{item.id}}" type="submit" hidden></button>
                                        {% endifequal %}
                                        {% endifequal %}
                                    </form>
                                </td>
							</tr>
							{% endfor %}
						</tbody>
					</table>

				</div>

				<!-- pagination -->
				<div class="pagination justify-content-center">
					<nav aria-label="Page navigation example">
						<ul class="pagination">
							{% with params=request.GET.urlencode %}           
                            {% if pager.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="{% query_url 'page' '1' params %}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            {% endif %}
                            {% for page_index in page_navigator %}
								{% ifequal page_index pager.number %}
									<li class="page-item active">
										<a class="page-link" href="{% query_url 'page' page_index params %}">{{page_index}}</a>
									</li>
								{% else %}
									<li class="page-item">
										<a class="page-link" href="{% query_url 'page' page_index params %}">{{page_index}}</a>
									</li>
								{% endifequal %}
                            {% endfor %}
                            {% if pager.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="{% query_url 'page' pager.paginator.num_pages params %}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                            {% endif %}
                            {% endwith %}
						</ul>
					</nav>
				</div>
				<!-- pagination -->

			</div>
		</div>
		<!-- Row End -->
	</div>
	<!-- Container End -->
</section>
{% endblock %}

{% block js %}
<script>
    function date_filter(){
        date_begin = document.getElementById("date_begin").value
        date_end = document.getElementById("date_end").value
        var urlParams = new URLSearchParams(window.location.search);
        if(urlParams.has("date_begin") === true){
            urlParams.set("date_begin", date_begin)
        } else {
            urlParams.append("date_begin", date_begin)
        }
        if(urlParams.has("date_end") === true){
            urlParams.set("date_end", date_end)
        } else {
            urlParams.append("date_end", date_end)
        }
        location.href = "?"+urlParams.toString()
    }

    function status_filter(){
        status = document.getElementById("select_status").value
        var urlParams = new URLSearchParams(window.location.search);
        if(urlParams.has("status") === true){
            urlParams.set("status", status)
        } else {
            urlParams.append("status", status)
        }
        location.href = "?"+urlParams.toString()
    }

    function search_order(e){
        if (e.keyCode == 13){
            console.log("pressed enter");   
            search_order = document.getElementById("search_order").value
            var urlParams = new URLSearchParams(window.location.search);
            if(urlParams.has("search_order") === true){
                urlParams.set("search_order", search_order)
            } else {
                urlParams.append("search_order", search_order)
            }
            location.href = "?"+urlParams.toString()
        }
    }

    function sort_date(){
        sort = document.getElementById("sort_date").value
        var urlParams = new URLSearchParams(window.location.search);
        if(urlParams.has("sort") === true){
            urlParams.set("sort", sort)
        } else {
            urlParams.append("sort", sort)
        }
        location.href = "?"+urlParams.toString()
    }

    function reset_filter(){
        window.location.href=window.location.href.split('?')[0]
    }

    function change_status(e, id_order, curent_status_code){
        console.log("change_Status running ")
        if (document.getElementById(id_order).value == 4){
            note = prompt("Hãy nêu lý do bạn hủy đơn")
            if (note != null) {
                document.getElementById("order_note").value = note
                document.getElementById("submit_status_"+id_order).click()
            }
            else {
                document.getElementById(id_order).selectedIndex = curent_status_code-1
            }
        }
        else if (document.getElementById(id_order).value == 2){
            note = prompt("Hãy nêu lý do bạn dời lại đơn hàng")
            if (note != null) {
                document.getElementById("order_note").value = note
                document.getElementById("submit_status_"+id_order).click()
            }
            else {
                document.getElementById(id_order).selectedIndex = curent_status_code-1
            }
        }
        else
            if (confirm('Xác nhận thay đổi trạng thái đơn hàng: '+id_order))
                document.getElementById("submit_status_"+id_order).click()
            else {
                document.getElementById(id_order).selectedIndex = curent_status_code-1
            }
    }
</script>
{% endblock %}