{% extends 'customer_base.html' %}
{% load static %}
{% load url_helper %}
{% block content %}

<section class="user-profile section">
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1 col-lg-3 offset-lg-0">
				<div class="sidebar">
					<!-- User Widget -->
					<div class="widget user">
						<!-- User Image -->
						<div class="image d-flex justify-content-center">
							<img src="{% static 'images/user/user.png' %}" alt="" class="">
						</div>
						<!-- User Name -->
						<h5 class="text-center">{{ user.fullname }}</h5>
					</div>
					<!-- Dashboard Links -->
					<div class="widget dashboard-links">
						<ul>
							<li><a class="my-1 d-inline-block" href="{% url 'user:info' %}">Thông tin tài khoản</a></li>
							<li><a class="my-1 d-inline-block" href="{% url 'user:notification' %}">Thông báo <span>({% get_number_unread_notifications user %})</span></a></li>
							<li><a class="my-1 d-inline-block" href="{% url 'user:address' %}">Quản lý địa chỉ</a></li>
							<li><a class="my-1 d-inline-block" href="{% url 'user:store_info' %}">Thiết lập người bán</a></li>
						</ul>
					</div>
				</div>
            </div>
            {% block content_user %} {% endblock %}
		</div>
	</div>
</section>
{% endblock %}
