{% extends 'seller_base.html' %}
{% load static %}
{% block content %}
<section class="dashboard section">
    <!-- Container Start -->
    <div class="container">
        <!-- Row Start -->
        <div class="row">
            <div class="col-md-12">
                <!-- Recently Favorited -->
                <div class="widget dashboard-container my-adslist">
                    <h3 class="widget-header title-text-color">THÊM SẢN PHẨM MỚI</h3>
                    <form method="POST" id="form-add-product" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="pro-name">1. Tên sản phẩm: </label>
                            <input type="text" class="form-control" id="pro-name" name="name" required>
                        </div>

                        <div class="form-group">
                            <label>2. Hình đại diện: </label>
                            <a href="javascript:void(0)" onclick="$('#pro-avatar').click()"> + Chọn hình ảnh</a>
                            <input onchange="select_avatar(this);" type="file" id="pro-avatar" name="avatar" hidden
                                class="form-control" accept="image/*">
                        </div>
                        <div id="selected_avatar"></div>

                        <div class="form-group">
                            <label>3. Hình ảnh sản phẩm: </label>
                            <a href="javascript:void(0)" onclick="$('#pro-images').click()"> + Thêm hình ảnh</a>
                            <input onchange="select_images(this);" type="file" id="pro-images" name="images" hidden
                                class="form-control" accept="image/*" multiple>
                        </div>
                        <div class="container">
                            <div class="row preview-images-zone" id="selected_images"></div>
                        </div>

                        <div class="form-group">
                            <label for="pro-portfolio">4. Loại sản phẩm: </label>
                            <select id="pro-portfolio" name="id_portfolio" class="form-control" required>
                                {% for item in portfolios %}
                                <option value="{{ item.id }}">{{ item.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>5. Chi tiết sản phẩm</label>
                            <div class="col-md-12" style="padding-right:30px">
                                <table class="table table-add-products">
                                    <tbody>
                                        <tr class="form-group">
                                            <td><label for="pro-publisher">Tác giả:</label> </td>
                                            <td><input class="form-control" type="text" class="input-add-spec"
                                                    id="pro-author" name="author" required></td>
                                        </tr>
                                        <tr class="form-group">
                                            <td><label for="pro-publisher">Nhà xuất bản:</label> </td>
                                            <td><input class="form-control" type="text" class="input-add-spec"
                                                    id="pro-publisher" name="publisher" required></td>
                                        </tr>
                                        <tr class="form-group">
                                            <td><label for="pro-publicdate">Ngày xuất bản:</label> </td>
                                            <td><input class="form-control" type="month" class="input-add-spec"
                                                    id="pro-publicdate" name="publicdate" required></td>
                                        </tr>
                                        <tr class="form-group">
                                            <td><label for="pro-length">Kích thước:</label> </td>
                                            <td class="row">
                                                <div class="col">
                                                    <input class="form-control input-add-spec" type="number"
                                                        placeholder="Dài (cm)" id="pro-length" name="length" min="0"
                                                        required>
                                                </div>
                                                <div class="col">
                                                    <input class="form-control input-add-spec" type="number"
                                                        placeholder="Rộng (cm)" id="pro-width" name="width" min="0"
                                                        required>
                                                </div>
                                                <div class="col">
                                                    <input class="form-control input-add-spec" type="number"
                                                        placeholder="Cao (cm)" id="pro-height" name="height" min="0"
                                                        required>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="form-group">
                                            <td><label for="pro-pagesnum">Số trang:</label> </td>
                                            <td><input class="form-control" type="number" class="input-add-spec"
                                                    id="pro-pagesnum" name="pagesnum" min="0" required></td>
                                        </tr>
                                        <tr class="form-group">
                                            <td><label id="label-category">Chọn thể loại:</label> </td>
                                            <td>
                                                <div class="list-group" id="category-selection">
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pro-quantity">6. Số lượng: </label>
                            <input type="number" class="form-control" id="pro-quantity" name="quantity" min="0"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="pro-price">7. Giá (đồng): </label>
                            <input type="number" class="form-control" id="pro-price" name="price" min="0" required>
                        </div>
                        <div class="form-group">
                            <label for="pro-originprice">8. Giá thị trường (đồng): </label>
                            <input type="number" class="form-control" id="pro-originprice" min="0" name="originprice"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="pro-condition">9. Tình trạng: </label>
                            <select id="pro-condition" name="id_condition" class="form-control" required>
                                {% for item in conditions %}
                                <option value="{{ item.id }}">{{ item.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>10. Phương thức giao hàng: </label>
                            <div class="form-check">
                                {% for item in deliveries %}
                                <input class="form-check-input" type="checkbox" value="{{ item.id }}"
                                    id="pro-delivery-{{ item.id }}" name="id_delivery">
                                <label class="form-check-label" for="pro-delivery-{{ item.id }}">{{ item.name }}</label>
                                {% endfor %}
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="name">11. Địa chỉ: </label>
                            <a href="javascript:void(0)" onclick="" data-toggle="modal" data-target="#address-modal"> +
                                Chọn địa chỉ</a>
                            <div class="col-md-12" style="padding-right:30px">
                                <input type="text" name="id_address" id="pro-idaddress" value="" hidden>
                                <table class="table table-add-products">
                                    <tbody>
                                        <tr class="form-group">
                                            <td><label>Tên người liên lạc:</label> </td>
                                            <td><span id="pro-owner"></span></td>
                                        </tr>
                                        <tr class="form-group">
                                            <td><label for="pro-no">Số nhà:</label> </td>
                                            <td><span id="pro-no"></span></td>
                                        </tr>
                                        <tr class="form-group">
                                            <td><label for="pro-street">Đường:</label> </td>
                                            <td><span id="pro-street"></span></td>
                                        </tr>
                                        <tr class="form-group">
                                            <td><label for="pro-ward">Phường:</label> </td>
                                            <td><span id="pro-ward"></span></td>
                                        </tr>
                                        <tr class="form-group">
                                            <td><label for="pro-district">Quận:</label> </td>
                                            <td><span id="pro-district"></span></td>
                                        </tr>
                                        <tr class="form-group">
                                            <td><label for="pro-city">Thành phố/Tỉnh thành:</label> </td>
                                            <td> <span id="pro-city"></span> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pro-description">12. Mô tả sản phẩm: </label>
                            <textarea id="pro-description" style="width: 100%;" class="input-add-prod" role="5"
                                placeholder="Thêm mô tả"></textarea>
                        </div>
                        <div class="text-right">
                            <button onclick="submit_form();" type="button" class="btn btn-primary">Thêm sản
                                phẩm</button>
                        </div>


                    </form>
                </div>
                <p><br /><br /></p>
            </div>
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
    <div class="modal fade bd-example-modal-xl" id="address-modal" tabindex="-1" role="dialog"
        aria-labelledby="address-modal" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Chọn địa chỉ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead class="container">
                            <tr class="row">
                                <th class="col-1"></th>
                                <th class="col-2">Số nhà</th>
                                <th class="col-2">Đường</th>
                                <th class="col-1">Phường</th>
                                <th class="col-1">Quận</th>
                                <th class="col-2">Tỉnh thành</th>
                                <th class="col-3">Người liên lạc</th>
                                <!--<th class="col-2">Số điện thoại</th>-->
                            </tr>
                        </thead>
                        <tbody class="container">
                            {% for address in addresses %}
                            <tr class="row">
                                <td class="col-1">
                                    <div class="radio">
                                        <input type="radio" name="address" value="{{ address.id }}"
                                            onchange="select_address({{ address.id }});">
                                    </div>
                                </td>
                                <td class="col-2" id="add-no-{{ address.id }}">
                                    {{ address.no }}
                                </td>
                                <td class="col-2" id="add-street-{{ address.id }}">
                                    {{ address.street }}
                                </td>
                                <td class="col-1" id="add-ward-{{ address.id }}">
                                    {{ address.ward }}
                                </td>
                                <td class="col-1" id="add-district-{{ address.id }}">
                                    {{ address.district }}
                                </td>
                                <td class="col-2" id="add-city-{{ address.id }}">
                                    {{ address.city }}
                                </td>
                                <td class="col-3" id="add-owner-{{ address.id }}">
                                    {{ address.owner }} - {{ address.phone_number }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <a href="{% url 'user:address' %}" type="button" class="btn" target="_blank"><i
                            class="fas fa-plus-circle"></i> Tạo mới</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block js %}
<script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
<script>
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                // Only send the token to relative URLs i.e. locally.
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        }
    });

    bkLib.onDomLoaded(nicEditors.allTextAreas);
    var book_categories = JSON.parse('{{ book_categories|escapejs }}');

    var children_categories = {};
    for (var key in book_categories) {
        var value = book_categories[key];
        if (!(value.id_parent in children_categories)) {
            children_categories[value.id_parent] = [];
        }
        children_categories[value.id_parent].push(value);

    }

    render_categories();

    function autocomplete(inp, arr) {
        /*the autocomplete function takes two arguments,
        the text field element and an array of possible autocompleted values:*/
        var currentFocus;
        /*execute a function when someone writes in the text field:*/
        inp.addEventListener("input", function (e) {
            var a, b, i, val = this.value;
            /*close any already open lists of autocompleted values*/
            closeAllLists();
            if (!val) {
                return false;
            }
            currentFocus = -1;
            /*create a DIV element that will contain the items (values):*/
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            /*append the DIV element as a child of the autocomplete container:*/
            this.parentNode.appendChild(a);
            /*for each item in the array...*/
            for (i = 0; i < arr.length; i++) {
                /*check if the item starts with the same letters as the text field value:*/
                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                    /*create a DIV element for each matching element:*/
                    b = document.createElement("DIV");
                    /*make the matching letters bold:*/
                    b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                    b.innerHTML += arr[i].substr(val.length);
                    /*insert a input field that will hold the current array item's value:*/
                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                    /*execute a function when someone clicks on the item value (DIV element):*/
                    b.addEventListener("click", function (e) {
                        /*insert the value for the autocomplete text field:*/
                        inp.value = this.getElementsByTagName("input")[0].value;
                        /*close the list of autocompleted values,
                        (or any other open lists of autocompleted values:*/
                        closeAllLists();
                    });
                    a.appendChild(b);
                }
            }
        });
        /*execute a function presses a key on the keyboard:*/
        inp.addEventListener("keydown", function (e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) {
                /*If the arrow DOWN key is pressed,
                increase the currentFocus variable:*/
                currentFocus++;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 38) { //up
                /*If the arrow UP key is pressed,
                decrease the currentFocus variable:*/
                currentFocus--;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 13) {
                /*If the ENTER key is pressed, prevent the form from being submitted,*/
                e.preventDefault();
                if (currentFocus > -1) {
                    /*and simulate a click on the "active" item:*/
                    if (x) x[currentFocus].click();
                }
            }
        });

        function addActive(x) {
            /*a function to classify an item as "active":*/
            if (!x) return false;
            /*start by removing the "active" class on all items:*/
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            /*add class "autocomplete-active":*/
            x[currentFocus].classList.add("autocomplete-active");
        }

        function removeActive(x) {
            /*a function to remove the "active" class from all autocomplete items:*/
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        }

        function closeAllLists(elmnt) {
            /*close all autocomplete lists in the document,
            except the one passed as an argument:*/
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }
        }
        /*execute a function when someone clicks in the document:*/
        document.addEventListener("click", function (e) {
            closeAllLists(e.target);
        });
    }
    {% autoescape off %}
    var authors = {{ authors_autocomplete }};
    {% endautoescape %}
    

    /*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
    autocomplete(document.getElementById("pro-author"), authors);

    function render_categories(parent_category = null) {
        $("#category-selection").empty();
        grandparent_category = null
        if (parent_category) {
            grandparent_category = book_categories[parent_category].id_parent
        }
        $("#category-selection").append(
            `
            <button onclick="back_category(${grandparent_category})" type="button" class="list-group-item list-group-item-action list-group-item-dark">
                <i class="fas fa-arrow-alt-circle-left"></i>
            </button>
        `
        );
        for (const item of children_categories[parent_category]) {
            $("#category-selection").append(
                `
                <button onclick="select_category(this, ${item.id})" value="${item.id}" type="button" class="list-group-item list-group-item-action">
                    ${item.name}
                </button>
            `
            )
        }
    }
    selected_category = null;

    function back_category(id) {
        selected_category = null
        render_categories(id)
    }

    function select_category(sender, id) {
        if (id in children_categories) {
            render_categories(id)
        } else {
            if (selected_category) {
                selected_category.classList.remove("active")
            }
            sender.classList.add("active")
            selected_category = sender
        }
    }

    function select_images(sender) {
        $("#selected_images").empty();
        if (sender.files) {
            if (sender.files.length > 6) {
                sender.value = null;
                alert("Số lượng hình sản phẩm không được lớn hơn 6");
                return;
            }
            for (var item of sender.files) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#selected_images").append(
                        `
                        <div class="image-zone col-4"><img src="${e.target.result}" width="200" /></div>
                    `
                    )
                }
                reader.readAsDataURL(item);
            }
        }
    }

    function select_avatar(sender) {
        $("#selected_avatar").empty();
        if (sender.files) {
            for (var item of sender.files) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#selected_avatar").append(
                        `
                        <div class="image-zone"><img src="${e.target.result}" width="200" /></div>
                    `
                    )
                }
                reader.readAsDataURL(item);
            }
        }
    }

    function validate_form() {
        error_message = null;
        form_data = new FormData(document.getElementById("form-add-product"));

        if (!form_data.get("name")) {
            error_message = "Xin hãy nhập tên sản phẩm.";
        } else if (!form_data.get("avatar").name) {
            error_message = "Xin hãy chọn hình đại diện của sản phẩm.";
        } else if (!form_data.get("author")) {
            error_message = "Xin hãy nhập tên tác giả.";
        } else if (!form_data.get("publisher")) {
            error_message = "Xin hãy nhập nhà xuất bản.";
        } else if (!form_data.get("publicdate")) {
            error_message = "Xin hãy nhập ngày xuất bản.";
        } else if (!form_data.get("length") || !form_data.get("width") || !form_data.get("height")) {
            error_message = "Xin hãy nhập đầy đủ kích thước sách.";
        } else if (form_data.get("length") <=5 || form_data.get("width") <=5 || form_data.get("height") <=0) {
            error_message = "Kich thước sách không hợp lệ.";
        } else if (!form_data.get("pagesnum")) {
            error_message = "Xin hãy nhập số trang của sách.";
        } else if (form_data.get("pagesnum") <= 4) {
            error_message = "Số trang của sách không hợp lệ.";
        } else if (selected_category === null) {
            error_message = "Xin hãy chọn thể loại sách.";
        } else if (!form_data.get("quantity")) {
            error_message = "Xin hãy nhập số lượng sản phẩm.";
        } else if (form_data.get("quantity") <= 0) {
            error_message = "Số lượng sản phẩm phải lớn hơn 0.";
        } else if (!form_data.get("price")) {
            error_message = "Xin hãy nhập giá bán của sản phẩm.";
        } else if (form_data.get("price") < 1000) {
            error_message = "Giá bán của sản phẩm không hợp lệ.";
        } else if (!form_data.get("originprice")) {
            error_message = "Xin hãy nhập giá thị trường của sản phẩm.";
        } else if (form_data.get("originprice") < 1000) {
            error_message = "Giá thị trường của sản phẩm không hợp lệ.";
        } else if (form_data.getAll("id_delivery").length === 0) {
            error_message = "Xin hãy chọn phương thức giao hàng.";
        } else if (!form_data.get("id_address")) {
            error_message = "Xin hãy chọn địa chỉ";
        } else if (!$("#form-add-product").find('.nicEdit-main').text()) {
            error_message = "Xin hãy viết mô tả sản phẩm.";
        }
        return error_message;
    }

    function submit_form() {
        error_message = validate_form();

        if (error_message !== null) {
            $.notify(error_message, "error");
            return;
        }

        form_data = new FormData(document.getElementById("form-add-product"));
        var pro_description = (new nicEditors.findEditor('pro-description')).getContent();
        var pro_category = selected_category.value;

        form_data.append('description', pro_description);
        form_data.append('id_category', pro_category);
        // for(var pair of form_data.entries()) {
        //     console.log(pair[0]+ ', '+ pair[1]); 
        // }
        $.ajax({
            type: "POST",
            url: "{% url 'seller:add_book' %}",
            data: form_data,
            processData: false,
            contentType: false,
            success: function (response) {
                $.notify("Đã đăng sản phẩm thành công, sản phẩm đang được kiểm duyệt.", "success");
            },
            error: function (response) {
                // alert the error if any error occured
                // console.log(response["responseJSON"]["error"]);
                switch (response.status) {
                    case 401:
                        //alert("Xin hãy đăng nhập.");
                        $.notify("Xin hãy đăng nhập.", "error");
                        break;
                    case 400:
                        //alert(response["responseJSON"]["error"]);
                        $.notify(response["responseJSON"]["error"], "error");
                        break;
                    case 500:
                        //alert("Đã có lỗi xảy ra, xin hãy thử lại sau.")
                        $.notify("Đã có lỗi xảy ra, xin hãy thử lại sau.", "error");
                        break;
                    case 405:
                        console.log(response)
                        window.location.replace(response["responseJSON"]["url"])
                        break;
                }
            }
        });
    }

    function select_address(id_address) {
        $("#pro-no").html($("#add-no-" + id_address).html());
        $("#pro-street").html($("#add-street-" + id_address).html());
        $("#pro-ward").html($("#add-ward-" + id_address).html());
        $("#pro-district").html($("#add-district-" + id_address).html());
        $("#pro-city").html($("#add-city-" + id_address).html());
        $("#pro-owner").html($("#add-owner-" + id_address).html());
        $("#pro-idaddress").val(id_address);
    }
</script>
{% endblock %}
