{% extends 'customer_base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<!-- ================ start banner area ================= -->	
	<section  id="category">
		<div class="container h-100">
			<div class="blog-banner">
				<div class="text-center">
				<br>
					<h1>THANH TOÁN</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Giỏ hàng</a></li>
              <li class="breadcrumb-item active" aria-current="page">Thanh toán</li>
            </ol>
          </nav>
				</div>
			</div>
    </div>
	</section>
	<!-- ================ end banner area ================= -->
  
  
  <!--================Checkout Area =================-->
    <section class="checkout_area section-margin--small">
        <div class="container">
            <div class="billing_details" id="billing">
                <form class="row contact_form col-12" method="post" novalidate>
                    <div class="col-6" style="padding-right:30px">
                    {% csrf_token %}
                    <a href="javascript:void(0)" onclick="" data-toggle="modal" data-target="#address-modal"> + Chọn địa chỉ</a><br>
                    <!--Modal address-->
                    <div class="row col-6">
                        <div class="modal fade bd-example-modal-xl" id="address-modal" tabindex="-1" role="dialog" aria-labelledby="address-modal"
                        aria-hidden="true">
                        <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Chọn địa chỉ</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <table class="table">
                                        <thead class="container">
                                            <tr class="row">
                                                <th class="col-1"></th>
                                                <th class="col-2">Số nhà</th>
                                                <th class="col-2">Đường</th>
                                                <th class="col-1">Phường</th>
                                                <th class="col-1">Quận</th>
                                                <th class="col-2">Tỉnh thành</th>
                                                <th class="col-3">Người liên lạc</th>
                                                <!--<th class="col-2">Số điện thoại</th>-->
                                            </tr>
                                        </thead>
                                        <tbody class="container">
                                            {% for item in address %}
                                            <tr class="row">
                                                <td class="col-1">
                                                    <div class="radio">
                                                    <input type="radio" name="pro-address" value="{{ item.id }}" onchange="select_address({{ item.id }});">
                                                    </div>
                                                </td>
                                                <td class="col-2" id="add-no-{{ item.id }}">
                                                    {{ item.no }}
                                                </td>
                                                <td class="col-2" id="add-street-{{ item.id }}">
                                                    {{ item.street }}
                                                </td>
                                                <td class="col-1" id="add-ward-{{ item.id }}">
                                                    {{ item.ward }}
                                                </td>
                                                <td class="col-1" id="add-district-{{ item.id }}">
                                                    {{ item.district }}
                                                </td>
                                                <td class="col-2" id="add-city-{{ item.id }}">
                                                    {{ item.city }}
                                                </td>
                                                <td class="col-3" id="add-owner-{{ item.id }}">
                                                    {{ item.owner }} - {{ item.phone_number }}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                    <a href="{% url 'user:address' %}" type="button" class="btn" target="_blank"><i class="fas fa-plus-circle"></i> Tạo mới</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <!--End modal-->

                    <!--address data get from modal-->
                        <input type="text" name="pro-idaddress" id="pro-idaddress" value="{{address.first.id}}" hidden>
                        <table class="table table-add-products">
                            <tbody>
                                <tr class="form-group">
                                    <td><label>Tên người liên lạc:</label> </td>
                                    <td><span id="pro-owner">{{address.first.owner}} - {{address.first.phone_number}}</span></td>
                                </tr>
                                <tr class="form-group">
                                    <td><label for="pro-no">Số nhà:</label> </td>
                                    <td><span id ="pro-no">{{address.first.no}}</span></td>
                                </tr>
                                <tr class="form-group">
                                    <td><label for="pro-street">Đường:</label> </td>
                                    <td><span id ="pro-street">{{address.first.street}}</span></td>
                                </tr>
                                <tr class="form-group">
                                    <td><label for="pro-ward">Phường:</label> </td>
                                    <td><span id ="pro-ward">{{address.first.ward}}</span></td>
                                </tr>
                                <tr class="form-group">
                                    <td><label for="pro-district">Quận:</label> </td>
                                    <td><span id ="pro-district">{{address.first.district}}</span></td>
                                </tr>
                                <tr class="form-group">
                                    <td><label for="pro-city">Thành phố/Tỉnh thành:</label> </td>
                                    <td> <span id ="pro-city">{{address.first.city}}</span> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!---->
                        <!--Old address form
                        {% for item in address %}
                        <div class="col-lg-12">
                        <h3 id="diachinhanmacdinh"> <input name="diachinhan" type="radio" checked="check" value="{{item.id}}"> Địa chỉ mặc định :</h3>
                                <div class="col-12">    
                                    <h6>Tên người nhận: {{item.owner}}</h6>
                                    <h6>Số điện thoại: {{item.phone_number}}</h6>
                                    <h6>
                                        Địa chỉ: {% with item.no|add:" "|add:item.street|add:" P."|add:item.ward|add:" Q."|add:item.district|add:" "|add:item.city as address_str %} 
                                                {{ address_str }}
                                                {% endwith %}
                                    </h6>
                                    <br>
                                </div>
                        </div>
                        {%endfor%}
                        <div class= "col-lg-12"> <br>
                            <h3 id="diachinhanmoi"> <input name="diachinhan" type="radio" value="Nhập địa chỉ mới"> Nhập địa chỉ mới :</h3>
                            <div class="col-12">
                                {% csrf_token %}
                                {% for field in form.visible_fields %}
                                    <div class="fieldWrapper">
                                        {{ field.label_tag }} <br>
                                        {{ field }}
                                        {{ field.errors }}
                                    </div>
                                {% endfor %}
                            </div>
                            
                        </div>
                    </div>-->
                    <div class="col-6">
                        <div class="order_box">
                            <h2>Đơn hàng</h2>
                            <ul class="list">
                                <li><h4>Sản phẩm</h4></li>
                                {% for item in cart %}
                                    <li>
                                        <div class="row">
                                            <div class="check-pro-cl1 col-md-6">{{item.name}} </div>
                                            <span class="check-pro-cl3 col-md-2">x{{item.quantity}}</span> 
                                            <span class=" check-pro-cl3 col-md-3 ">{{item.price|floatformat:0|intcomma}}đ</span>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                            <ul class="list list_2">
                                <li><a href="#">Tạm tính <span>{{sub_total|floatformat:0|intcomma}}đ</span></a></li>
                                <li><a href="#">Phí giao hàng <span>0đ</span></a></li>
                                <li><a href="#">Tổng cộng <span>{{sub_total|floatformat:0|intcomma}}đ</span></a></li>
                            </ul>
                            <br>
                            <button type="submit" class="button button-paypal">Thanh toán</button>
                        </div>
                    </div>
                
            </form>
        </div>
    </section>
  <!--================End Checkout Area =================-->
{% endblock %}

{% block js %}
<script>
    function select_address(id_address){
        $("#pro-no").html($("#add-no-" + id_address).html());
        $("#pro-street").html($("#add-street-" + id_address).html());
        $("#pro-ward").html($("#add-ward-" + id_address).html());
        $("#pro-district").html($("#add-district-" + id_address).html());
        $("#pro-city").html($("#add-city-" + id_address).html());
        $("#pro-owner").html($("#add-owner-" + id_address).html());
        $("#pro-idaddress").val(id_address);
    }
</script>
{% endblock %}