{% extends 'customer_base.html' %}
{% load static %}
{% load humanize %}
{% load tz %}
{% block content %}
<section class="dashboard section">
	<!-- Container Start -->
	<div class="container">
		<!-- Row Start -->
		<div class="row">
			<!--Đơn hàng của tôi-->
			<div class="col-md-12">
				<div class="widget dashboard-container my-adslist">
					<h3 class="widget-header">ĐƠN HÀNG CỦA TÔI</h3>
					<table class="table  product-dashboard-table">
						<thead>
							<tr>
                                <th scope="col">Hình ảnh</th>
                                <th scope="col">Sản phẩm</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Giảm giá</th>
                                <th scope="col">Tổng tiền</th>
                                
							</tr>
						</thead>
						<tbody>
                            {% for item in details %}
							<tr>
                                <!-- hình ảnh-->
								<td class="product-thumb">
									<img width="80px" height="auto" src="{{item.url}}" alt="image description">
                                </td>
                                <!--Chi tiết sản phẩm-->
								<td class="product-details">
									<h3 class="title"><a href="{% url 'book:get_book' item.id_book %}">{{item.name}}</a></h3>
									<span class="add-id"><strong>Mã Sản phẩm:</strong>&nbsp;{{item.merchandise_id}} </span>
									<span class="location"><strong>Địa chỉ nhận hàng:</strong>&nbsp;&nbsp;
										{% with address.no|add:" "|add:address.street|add:" Phường."|add:address.ward|add:" Quận."|add:address.district as full_address %}
										{{full_address}}
										{% endwith %}
									</span>
								</td>
                                <!-- Số lượng-->
								<td  >
                                    <span class="quantity-order">{{item.quantity}}</span>
                                </td>
                                <!--Giảm giá-->
								<td >
									<p class="price-order">
									{% ifequal item.discount NULL %}
										Không có
									{% else %}
										{{item.discount}}%
									{% endifequal %}
									</p>
								</td>
                                <!--Giá tiền-->
                                <td class="price-order">
                                    <p>{{item.price|floatformat:0}} VNĐ</p>
                                </td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<!--Lịch sử trạng thái đơn hàng-->
			<div class="col-md-12">
				<div class="widget dashboard-container my-adslist">
					<h3 class="widget-header">Chi tiết trạng thái đơn hàng</h3>
					<table class="table  product-dashboard-table">
						<thead>
							{% timezone "Asia/Ho_Chi_Minh" %}
							{% for each_status in detail_order_status %}
							<tr>
                                <th scope="col">{{each_status.created_date|date:"d/m/Y G:i"}}</th>
								<th scope="col">{{each_status.name}}&nbsp;
									{% if each_status.note %}
										<span class="light">({{each_status.note}})</span>
									{% endif %}
								</th>
							</tr>
							{% endfor %}
							{% endtimezone %}
						</thead>
						
					</table>
				</div>
			</div>
		</div>
		<!-- Row End -->
	</div>
	<!-- Container End -->
</section>
{% endblock %}

{% block js %}

{% endblock %}