{% extends 'customer_base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<section class="page-search">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Advance Search -->
                <div class="advance-search">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <input type="text" class="form-control my-2 my-lg-0" id="inputtext4"
                                    placeholder="What are you looking for">
                            </div>
                            <div class="form-group col-md-3">
                                <input type="text" class="form-control my-2 my-lg-0" id="inputCategory4"
                                    placeholder="Category">
                            </div>
                            <div class="form-group col-md-3">
                                <input type="text" class="form-control my-2 my-lg-0" id="inputLocation4"
                                    placeholder="Location">
                            </div>
                            <div class="form-group col-md-2">

                                <button type="submit" class="btn btn-primary">Search Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--===================================
=            Store Section            =
====================================-->

<section class="section bg-gray" id="search-single">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <!-- Left sidebar -->
            <div class="col-md-8">
                <div class="product-details">
                    <h1 class="product-title">{{ book.name }}</h1>
                    <div class="product-meta">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-user-o"></i> By <a href="">Andrew</a></li>
                            {% with categories=book.get_order_categories %}
                            <li class="list-inline-item"><i class="fa fa-folder-open-o"></i> Danh mục<a
                                    href="{% url 'book:get_books' categories.0.url_name %}">{{ categories.0.name }}</a></li>
                            {% endwith %}
                            <li class="list-inline-item"><i class="fa fa-location-arrow"></i> Đánh giá<a href="">{{ merchandise.times_rated }}</a>
                            </li>
                        </ul>
                    </div>

                    <div class="ratings">
                        <ul class="list-inline">
                            {% with t_star=book.rate_point|floatformat:0 %}
                            {% for i in "12345" %}
                                {% if i <= t_star %}
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                {% else %}
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                {% endif %}
                            {% endfor%}
                            {% endwith %}
                        </ul>
                    </div>
                    <!-- product slider -->
                    <div class="product-slider" id="sli">
                        {% for book_image in merchandise.merchandiseimage_set.all %}
                            <div class="product-slider-item my-4" data-image="{{ book_image.image.url }}">
                            {% if forloop.counter == 1 %}
                                <img class="img-fluid w-100" src="{{ book_image.image.url }}" alt="product-img">
                            {% else %}
                                <img class="d-block img-fluid w-100" src="{{ book_image.image.url }}" alt="{{ forloop.counter }} slide">
                            {% endif%}
                            </div>
                        {% endfor %}
                    </div>

                    <!-- product slider -->

                    <div class="content mt-5 pt-5">
                        <ul class="nav nav-pills  justify-content-center" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                                    role="tab" aria-controls="pills-home" aria-selected="true">Giới thiệu sách</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
                                    role="tab" aria-controls="pills-profile" aria-selected="false">Thông tin chi tiết</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact"
                                    role="tab" aria-controls="pills-contact" aria-selected="false">Đánh giá</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                aria-labelledby="pills-home-tab">
                                <h3 class="tab-title">Giới thiệu sách</h3>
                                {{ merchandise.description }}

                            </div>
                            <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                                aria-labelledby="pills-profile-tab">
                                <h3 class="tab-title">Thông tin chi tiết</h3>
                                <table class="table table-bordered product-table">
                                    <tbody>
                                        <tr>
                                            <td>Tên sách</td>
                                            <td>{{ book.name }}</td>
                                        </tr>
                                        <tr>
                                            <td>Nhà xuất bản</td>
                                            <td>{{ book.publisher }}</td>
                                        </tr>
                                        <tr>
                                            <td>Ngày xuất bản</td>
                                            <td>{{ book.publication_date|date:"m/Y" }}</td>
                                        </tr>
                                        <tr>
                                            <td>Size</td>
                                            <td>{{ book.length }} x {{ book.width }} x {{ book.height }} cm</td>
                                        </tr>
                                        <tr>
                                            <td>Số trang</td>
                                            <td>{{ book.pages_num }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                                aria-labelledby="pills-contact-tab">

                                <div class="product-review">

                                    <div class="review-submission">
                                        <h3 class="tab-title">Submit your review</h3>
                                        <!-- Rate -->
                                        <div class="rate">
                                            <div class="starrr"></div>
                                        </div>
                                        <div class="review-submit">
                                            <form action="#" class="row">
                                                <div class="col-lg-6">
                                                    <input type="text" name="name" id="name" class="form-control"
                                                        placeholder="Name">
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="email" name="email" id="email" class="form-control"
                                                        placeholder="Email">
                                                </div>
                                                <div class="col-12">
                                                    <textarea name="review" id="review" rows="10" class="form-control"
                                                        placeholder="Message"></textarea>
                                                </div>
                                                <div class="col-12">
                                                    <button type="submit" class="btn btn-main">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                        <br><br>
                                        <h3 class="tab-title">Product Review</h3>
                                        <div class="media">
                                            <!-- Avater -->
                                            <img src="images/user/user-female.png" alt="avater">
                                            <div class="media-body">
                                                <!-- Ratings -->
                                                <div class="ratings">
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item">
                                                            <i class="fa fa-star"></i>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <i class="fa fa-star"></i>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <i class="fa fa-star"></i>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <i class="fa fa-star"></i>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <i class="fa fa-star"></i>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="name">
                                                    <h5>Phuong Tri</h5>
                                                </div>
                                                <div class="date">
                                                    <p>Mar 20, 2018</p>
                                                </div>
                                                <div class="review-comment">
                                                    <p>
                                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                                        accusantium doloremqe laudant tota rem ape
                                                        riamipsa eaque.
                                                    </p>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="pagination justify-content-center">
                                            <nav aria-label="Page navigation example">
                                                <ul class="pagination">
                                                    <li class="page-item">
                                                        <a class="page-link" href="#" aria-label="Previous">
                                                            <span aria-hidden="true">&laquo;</span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                    </li>
                                                    <li class="page-item"><a class="page-link" href="#">1</a>
                                                    </li>
                                                    <li class="page-item active"><a class="page-link"
                                                            href="#">2</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">3</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link" href="#" aria-label="Next">
                                                            <span aria-hidden="true">&raquo;</span>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sidebar">
                    <div class="widget price text-center">

                        <p>{{ merchandise.price|floatformat:0|intcomma }} đ</p>
                        <h4>Tiết kiệm: {{ merchandise.get_saving_rate|floatformat:0 }} %</h4>
                        <h4>Giá thị trường: {{ merchandise.origin_price|floatformat:0|intcomma }} đ</h4>
                    </div>
                    
                    <div class="widget text-center">
                        <div class="form-group row">
                            <label for="quantity" class="col-sm-4 col-form-label">Số lượng</label>
                            <div class="col-sm-8">
                                <input type="number" name="quantity" id="quantity" value="1"
                                    class="form-control" min=1 max=30>
                            </div>
                        </div>
                        <a href=""
                                class="btn btn-contact d-inline-block btn-primary px-lg-5 my-1 px-md-3">Chọn mua</a>
                    </div>
                    <!-- User Profile widget -->
                    <div class="widget user text-center">
                        <img class="rounded-circle img-fluid mb-5 px-5" src="images/user/user-male.png" alt="">
                        <h4><a href="">Jonathon Andrew</a></h4>
                        <div class="ratings">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li class="list-inline-item">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li class="list-inline-item">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li class="list-inline-item">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li class="list-inline-item">
                                    <i class="fa fa-star"></i>
                                </li>
                            </ul>
                        </div>
                        <p class="member-time">
                            Member Since Jun 27, 2017<br>
                            Store : 300 products
                        </p>
                        <a href="">See all ads</a>
                        <ul class="list-inline mt-20">
                            <li class="list-inline-item"><a href=""
                                    class="btn btn-contact d-inline-block  btn-primary px-lg-5 my-1 px-md-3">Chat</a>
                            </li>
                            <li class="list-inline-item"><a href="shop.html"
                                    class="btn btn-offer d-inline-block btn-primary ml-n1 my-1 px-lg-4 px-md-3">See
                                    store</a></li>
                        </ul>
                    </div>
                    <!-- Map Widget -->
                    <div class="widget map">
                        <div class="map">
                            <div id="map_canvas" data-latitude="51.507351" data-longitude="-0.127758"></div>
                        </div>
                    </div>
                    <!-- Rate Widget -->
                    <div class="widget rate">
                        <!-- Heading -->
                        <h5 class="widget-header text-center">What would you rate
                            <br>
                            this product</h5>
                        <!-- Rate -->
                        <div class="starrr"></div>
                    </div>
                    <!-- Safety tips widget -->
                    <div class="widget disclaimer">
                        <h5 class="widget-header">Safety Tips</h5>
                        <ul>
                            <li>Meet seller at a public place</li>
                            <li>Check the item before you buy</li>
                            <li>Pay only after collecting the item</li>
                            <li>Pay only after collecting the item</li>
                        </ul>
                    </div>
                    <!-- Coupon Widget -->
                    <div class="widget coupon text-center">
                        <!-- Coupon description -->
                        <p>Have a great product to post ? Share it with
                            your fellow users.
                        </p>
                        <!-- Submii button -->
                        <a href="" class="btn btn-transparent-white">Submit Listing</a>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- Container End -->
</section>
{% endblock %}

{% block js %}
<script src="vendors/jquery/jquery-3.2.1.min.js"></script>
<script src="vendors/bootstrap/bootstrap.bundle.min.js"></script>
<script src="vendors/skrollr.min.js"></script>
<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="vendors/nice-select/jquery.nice-select.min.js"></script>
<script src="vendors/jquery.ajaxchimp.min.js"></script>
<script src="vendors/mail-script.js"></script>
<script src="js/main.js"></script>
{% endblock %}