{% extends 'customer_base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<section class="page-search">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Advance Search -->
                <div class="advance-search">
                    <form method="GET" action="{% url 'search:search' %}">
                        <div class="form-row">
                            <div class="form-group col-md-10">
                                <input name="q" type="text" class="form-control my-2 my-lg-0" id="inputtext4"
                                    placeholder="Tìm kiếm trên Chợ Sách">
                            </div>
                            <div class="form-group col-md-2">
                                <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--===================================
=            Store Section            =
====================================-->

<section class="section bg-gray" id="search-single">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <!-- Left sidebar -->
            <div class="col-md-8">
                <div class="product-details">
                    <h1 class="product-title">{{ book.name }}</h1>
                    <div class="d-flex justify-content-between" style="padding-bottom: 1em;">
                        <div class="product-meta">
                            <ul class="list-inline">
                                <!--
                                    <li class="list-inline-item"><i class="fa fa-user-o"></i> By <a href="">Andrew</a></li>
                                -->
                                {% with categories=book.get_order_categories %}
                                <li class="list-inline-item"><i class="fas fa-book"></i> <a
                                        href="{% url 'book:get_books' categories.0.url_name %}">{{ categories.0.name }}</a>
                                </li>
                                {% endwith %}
                                <li class="list-inline-item">
                                    <i class="fa fa-location-arrow"></i> Đánh giá: {{merchandise.get_rate_point}}
                                    ({{ merchandise.times_rated }} lượt)
                                </li>
                            </ul>
                        </div>

                        <div class="ratings">
                            <ul class="list-inline">
                                {% with t_star=book.rate_point|floatformat:0 %}
                                {% for i in "12345" %}
                                {% if i <= t_star %}
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                {% else %}
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                {% endif %}
                                {% endfor%}
                                {% endwith %}
                            </ul>
                        </div>
                    </div>

                    <!-- product slider -->
                    <!--<div class="product-slider" id="sli">
                        {% for book_image in merchandise.merchandiseimage_set.all %}
                            <div class="product-slider-item my-4" data-image="{{ book_image.image.url }}">
                            {% if forloop.counter == 1 %}
                                <img class="img-fluid w-100" src="{{ book_image.image.url }}" alt="product-img">
                            {% else %}
                                <img class="d-block img-fluid w-100" src="{{ book_image.image.url }}" alt="{{ forloop.counter }} slide">
                            {% endif%}
                            </div>
                        {% endfor %}
                    </div>-->
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for book_image in merchandise.merchandiseimage_set.all %}
                            <div class="carousel-item{% if forloop.counter == 1 %} active{% endif%}">
                                <img style="height:650px; width: auto;" class="d-block w-100"
                                    src="{{ book_image.image.url }}" alt="{{ forloop.counter }} slide">
                            </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <!-- product slider -->

                    <div class="content mt-5 pt-5">
                        <ul class="nav nav-pills  justify-content-center" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                                    role="tab" aria-controls="pills-home" aria-selected="true">Giới thiệu sách</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
                                    role="tab" aria-controls="pills-profile" aria-selected="false">Thông tin chi
                                    tiết</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact"
                                    role="tab" aria-controls="pills-contact" aria-selected="false">Đánh giá</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                aria-labelledby="pills-home-tab">
                                <h3 class="tab-title">Giới thiệu sách</h3>
                                {{ merchandise.description }}

                            </div>
                            <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                                aria-labelledby="pills-profile-tab">
                                <h3 class="tab-title">Thông tin chi tiết</h3>
                                <table class="table table-bordered product-table">
                                    <tbody>
                                        <tr>
                                            <td>Tên sách</td>
                                            <td>{{ book.name }}</td>
                                        </tr>
                                        <tr>
                                            <td>Nhà xuất bản</td>
                                            <td>{{ book.publisher }}</td>
                                        </tr>
                                        <tr>
                                            <td>Ngày xuất bản</td>
                                            <td>{{ book.publication_date|date:"m/Y" }}</td>
                                        </tr>
                                        <tr>
                                            <td>Size</td>
                                            <td>{{ book.length }} x {{ book.width }} x {{ book.height }} cm</td>
                                        </tr>
                                        <tr>
                                            <td>Số trang</td>
                                            <td>{{ book.pages_num }}</td>
                                        </tr>
                                        <tr>
                                            <td>Tình trạng</td>
                                            <td>{{ merchandise.condition.name }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                                aria-labelledby="pills-contact-tab">

                                <div class="product-review">

                                    <div class="review-submission">
                                        <h3 class="tab-title">Gửi nhận xét của bạn</h3>
                                        <!-- Rate -->
                                        <div class="rate">
                                            <h4>Đánh giá của bạn về sản phẩm này:</h4>
                                            <div id="review_star" class="starrr"></div>
                                        </div>
                                        <div class="review-submit">
                                            <h4>Viết nhận xét của bạn vào bên dưới:</h4>
                                            <form action="#" class="row">
                                                <div class="col-12">
                                                    <textarea name="review" id="review" rows="10" class="form-control"
                                                        placeholder="Nhận xét của bạn về sản phẩm này"></textarea>
                                                </div>
                                                <div class="col-12">
                                                    <button type="button" onclick="submit_review()"
                                                        class="btn btn-main">Gửi nhận xét</button>
                                                </div>
                                            </form>
                                        </div>
                                        <br><br>
                                        <h3 class="tab-title"></h3>
                                        <div id="reviews">
                                        </div>
                                        <div class="pagination justify-content-center">
                                            <nav aria-label="Page navigation example">
                                                <ul id="review_page" class="pagination">

                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sidebar">
                    <div class="widget price text-center">

                        <p>{{ merchandise.price|floatformat:0|intcomma }} đ</p>
                        <h4>Tiết kiệm: {{ merchandise.get_saving_rate|floatformat:0 }} %</h4>
                        <h4>Giá thị trường: {{ merchandise.origin_price|floatformat:0|intcomma }} đ</h4>
                    </div>

                    <div class="widget text-center">
                        <div class="form-group row">
                            <label for="quantity" class="col-sm-4 col-form-label">Số lượng</label>
                            <div class="col-sm-8">
                                <input type="number" name="quantity" id="quantity" value="1" class="form-control" min=1
                                    max=30>
                            </div>
                        </div>
                        <a href="" class="btn btn-contact d-inline-block btn-primary px-lg-5 my-1 px-md-3">Chọn mua</a>
                    </div>
                    <!-- User Profile widget -->
                    <div class="widget user text-center">
                        <img class="rounded-circle img-fluid mb-5 px-5" src="{{ store.avatar_url }}" alt="">

                        <h4><a href="{% url 'store:get_store' store.user.id %}">{{store.name}}</a></h4>
                        <div class="ratings">
                            <ul class="list-inline">
                                {% with t_star=store.get_rate_point|floatformat:0 %}
                                {% for i in "12345" %}
                                <li class="list-inline-item">
                                    <i class="fa fa-star{% if i > t_star %}-o{% endif %}" style="font-size: 1em;"></i>
                                </li>
                                {% endfor%}
                                {% endwith %}
                            </ul>
                        </div>
                        <ul class="list-inline mt-20">
                            <li class="list-inline-item">
                                <a href="" class="btn btn-contact d-inline-block btn-primary">Chat</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-offer d-inline-block btn-primary"
                                    href="{% url 'store:get_store' store.user.id %}">Xem cửa hàng</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Safety tips widget -->
                    <div class="widget disclaimer">
                        <h5 class="widget-header">Mẹo mua hàng an toàn</h5>
                        <ul>
                            <li>Xem đánh giá người dùng.</li>
                            <li>Đọc kỹ các thông tin về sản phẩm và chế độ đổi trả, bảo hành.</li>
                            <li>Luôn lưu ý về bảo mật thông tin, tránh hacker.</li>
                        </ul>
                    </div>
                    <!-- Coupon Widget -->
                    <div class="widget coupon text-center">
                        <!-- Coupon description -->
                        <p>Phản ánh thông tin sản phẩm không chính xác</p>

                        <button type="button" class="btn btn-transparent-white" data-toggle="modal"
                            data-target=".bd-example-modal-lg">Báo cáo</button>

                        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                            aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Phản ánh sản phẩm</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <label for="sample-report" class="col-form-label">Vấn đề cần phản ánh:</label>
                                                <select id="sample-report" class="form-control full-size-select">
                                                    {% for sample_report in sample_reports %}
                                                    <option value="{{ sample_report.id }}">{{ sample_report.sample_content }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="report_description" class="col-form-label">Mô tả vấn đề:</label>
                                                <textarea rows="10" class="form-control" id="report_description"></textarea>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Hủy</button>
                                        <button onclick="send_report()" type="button" class="btn btn-primary">Gửi phản ánh</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- Container End -->
</section>
{% endblock %}

{% block js %}
<!--
<script src="{% static 'vendors/jquery/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendors/skrollr.min.js' %}"></script>
<script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'vendors/nice-select/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'vendors/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'vendors/mail-script.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
-->
{% csrf_token %}
<script>
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                // Only send the token to relative URLs i.e. locally.
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        }
    });

    function get_safe_simplestr(content){
        content = String(content).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;');
        return content.replace("\n", "<br/>");
    }

    get_reviews(1)

    function get_stars(num_stars) {
        var str_stars = ``,
            i;
        for (i = 1; i <= 5; ++i) {
            if (i <= num_stars) {
                str_stars += `<li class="list-inline-item"> <i class="fa fa-star"></i> </li>`;
            } else {
                str_stars += `<li class="list-inline-item"> <i class="fa fa-star-o"></i> </li>`;
            }
        }
        return str_stars;
    }

    function get_reviews(page) {
        $.ajax({
            type: 'GET',
            url: "{% url 'review:get_reviews' %}?id_merchandise={{ merchandise.id }}&page=" + page,
            dataType: 'json',
            success: function (response) {
                $("#reviews").empty()
                for (review of response.data.reviews) {
                    const d = new Date(review['date'])
                    $("#reviews").append(
                        `
                        <div class="media">
                            <!-- Avater -->
                            <img src="{% static 'images/user/user.png' %}" alt="avater">
                            <div class="media-body">
                                <!-- Ratings -->
                                <div class="ratings">
                                    <ul class="list-inline">
                                        ${get_stars(review['star'])}
                                    </ul>
                                </div>
                                <div class="name">
                                    <h5>${review['by']}</h5>
                                </div>
                                <div class="date">
                                    <p>${d.toLocaleString("en-IE", {timeZone: "Asia/Ho_Chi_Minh"})}</p>
                                </div>
                                <div class="review-comment">
                                    <p>
                                        ${get_safe_simplestr(review['content'])}
                                    </p>
                                </div>
                                <a class="btn" data-toggle="collapse" href="#review_${review.id}" role="button" aria-expanded="false" aria-controls="review_${review.id}">
                                Trả lời
                                </a>
                                
                            </div>
                        </div>
                        <div class="collapse" id="review_${review.id}" style="margin-bottom:1.5em;">
                            <div class="d-flex justify-content-end">
                                <div class="media" style="width:88%;" >
                                    <form style="width:100%;">
                                        <div >
                                            <textarea name="reply_${review.id}" id="reply_${review.id}" rows="4" class="form-control"
                                                placeholder="Nhập nội dung trả lời ở đây"></textarea>
                                        </div>
                                        <div >
                                            <button onclick="reply_review(${review.id})" value="${review.id}" type="button" class="btn" style="padding:0.4em 1.2em; background-color:#C77000; color:#fff;">Gửi</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    `
                    )
                    for (reply of review["replies"]) {
                        const d = new Date(reply["date"]);
                        $("#reviews").append(
                            `
                        <div class ="d-flex justify-content-end">
                            <div class="media" style="width:88%; ">
                                <img src="{% static 'images/user/user.png' %}" alt="avater">
                                <div class="media-body">
                                    <div class="name">
                                        <h5>${reply['by']}</h5>
                                    </div>
                                    <div class="date">
                                        <p>${d.toLocaleString("en-IE", {timeZone: "Asia/Ho_Chi_Minh"})}</p>
                                    </div>
                                    <div class="review-comment">
                                        <p>
                                            ${get_safe_simplestr(reply['content'])}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        `);
                    }
                }
                $("#review_page").empty();
                for (page_num of response.data.page_navigator) {
                    if (page == page_num) {
                        activated_class = "active";
                    } else {
                        activated_class = "";
                    }
                    $("#review_page").append(
                        `<li class="page-item ${activated_class}"><a onclick=get_reviews(${page_num}) class="page-link" href="#reviews">${page_num}</a></li>`
                    );
                }
            },
            error: function (response) {
                // alert the error if any error occured
                alert(response["responseJSON"]["error"]);
            }
        })
    }

    function submit_review() {
        var star = 5 - (document.getElementById("review_star").innerHTML.match(/fa-star-o/g) || []).length;
        var review_content = document.getElementById("review").value;

        if (star <= 0 || star > 5) {
            alert("Số sao không hợp lệ. Xin hãy chọn số sao từ 1-5.");
            return;
        }
        if (review_content === "") {
            alert("Xin hãy nhập nội dung.");
            return;
        }
        $.ajax({
            type: "POST",
            url: "{% url 'review:post_review' %}",
            data: {
                "id_merchandise": "{{ merchandise.id }}",
                "star": star,
                "content": review_content
            },
            success: function (response) {
                get_reviews(1)
            },
            error: function (response) {
                // alert the error if any error occured
                // console.log(response["responseJSON"]["error"]);
                switch (response.status) {
                    case 401:
                        alert("Xin hãy đăng nhập.");
                        break;
                    case 400:
                        alert(response["responseJSON"]["error"]);
                        break;
                    case 500:
                        alert("Đã có lỗi xảy ra, xin hãy thử lại sau.")
                        break;
                }
            }
        });
    }

    function reply_review(id) {
        var reply_content = document.getElementById("reply_" + id).value;
        if (reply_content === "") {
            alert("Xin hãy nhập nội dung.");
            return;
        }
        $.ajax({
            type: "POST",
            url: "{% url 'review:post_reply' %}",
            data: {
                "id_merchandise": "{{ merchandise.id }}",
                "id_review": id,
                "content": reply_content
            },
            success: function (response) {
                console.log("DONE", response)
                get_reviews(1)
            },
            error: function (response) {
                // alert the error if any error occured
                // console.log(response["responseJSON"]["error"]);
                switch (response.status) {
                    case 401:
                        alert("Xin hãy đăng nhập.");
                        break;
                    case 400:
                        alert(response["responseJSON"]["error"]);
                        break;
                    case 500:
                        alert("Đã có lỗi xảy ra, xin hãy thử lại sau.")
                        break;
                }
            }
        });
    }

    function send_report(){
        content = document.getElementById("report_description").value;
        selected_report = document.getElementById("sample-report").value;
        $.ajax({
            type: "POST",
            url: "{% url 'report:post_report' %}",
            data: {
                "id_object": "{{ merchandise.id }}",
                "id_sample_report": selected_report,
                "content": content
            },
            success: function (response) {
                alert("Báo cáo thành công.")
                $('.bd-example-modal-lg').modal('hide')
            },
            error: function (response) {
                // alert the error if any error occured
                // console.log(response["responseJSON"]["error"]);
                switch (response.status) {
                    case 401:
                        alert("Xin hãy đăng nhập.");
                        break;
                    case 400:
                        alert(response["responseJSON"]["error"]);
                        break;
                    case 500:
                        alert("Đã có lỗi xảy ra, xin hãy thử lại sau.")
                        break;
                }
            }
        });

    }
</script>
{% endblock %}